* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
button,input[type = "submit"] {
  cursor: pointer;
}

#cross {
  color: red;
}

body{
  background-color: hsl(0,0%,8%);
  -webkit-font-smoothing: antialiased;
}

.logo-search {
  padding-left: 5rem;
    padding-right: 1rem;
  padding: 0.6rem;
  height: 4rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(5, 33, 55);
  position: fixed;
  width: 100%;
  z-index: 999;
}
.logo {
  width: 50%;
  object-fit: cover;
}

.logo-img {
  max-width: 100%;
  max-height: 4rem;
}

nav {
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    position: absolute;
   
    background-color:rgba(4, 82, 83, 0.5);
    top: 4rem;
    color: white;
    position: fixed;
    z-index: 90;
    transition: top 0.1s;
}

.list {
  display: flex;
  width: 90%;
  margin: 0px auto 0px auto;
  justify-content: space-evenly;
  align-items: center;
}



#nav-item {
  text-decoration: none;
  cursor: pointer;
  color: white;
}


#search {
  border: none;
  outline: none;
  width: 22vw;
  height: 6vh;
  margin: 0px 8px 0px 8px;
  background-color:rgba(81, 118, 146, 0.3);
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  color: white;
}
.search-icon {
  font-size: 2rem;
  margin-right: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  #search {
    width: 30vw;

  }
  .cover-btn {
    font-weight: 400;
  }
  .list {
    justify-content: space-between;
  }
}


#search-bar,#city-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
.hide {
  display: none;
 
}

#city-container {
  position: absolute;
  border-radius: 8px;
  top: 50px;
  width: 20vw;
  background-color:rgba(81, 118, 146, 0.9);
  color: whitesmoke;
}

#city-container > li {
  list-style: none;
  cursor: pointer;
}


.logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}

.top-trending {
  object-fit: fill;
  height: 76vh;
}




#top-trending-title{
  position: absolute;
  top: 30vh;
  left: 6vw;
  width: 50%;
  color: whitesmoke;
  padding: 10px;
  
}


.cover-btn {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  margin-top: 1rem;
  width: 5rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(51,51,51,.7);
}

.top-trending-container{
  width: 96%;
  margin-top: 10px;
  margin-left: auto;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.top-trending-movie{
  display: flex;
  
  gap: 10px;
  overflow-y: hidden;
  overflow-x: visible;
}

.top-trending-movie::-webkit-scrollbar{
  display: none;
}

.movie-card{
  position: relative;
  width: 400px;
  
}

.movie-card-img{
  object-fit: contain;
  max-width: 28%;
  max-height: 300px;
  border-radius: 6px;
  
  transition: transform .45s;
  

}
.movie-card-img:hover {
  transform: scale(1.2);
}




.movie-holder, .event-holder {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  width: fit-content;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 10px;
  
  cursor: pointer;
}

.movie-holder {
  height: 350px;
}

.event-holder {
  width: 25%;
  gap: 10px;
  background-color: #e6e3db;
  color: rgb(16, 16, 16);
}

.icon-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie-img{
  max-width: 98%;
  border-radius: 8px;
  max-height: 80%;
}



.movie-link {
  width: 18%;
}


.movie-click , .event-movie-click{
  
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
  justify-content: space-around;
  gap: 20px;
}

.movie-click-img{
  max-width: 250px;
  max-height: 350px;
  border-radius: 8px;
}

#booker-grid-holder {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}

.booking-grid {
  padding: 10px;
  display: grid;
  justify-content: space-around;

  row-gap: 8px;
  column-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  color: white;
}

.booking-grid > div {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:650px) {
  .booking-grid > div{
    width: 2rem;
    height: 2rem;

  }

  .booking-grid{
    row-gap: 4px;
    column-gap: 4px;
  }
  .event-holder {
    width: 50%;
  }
}

.selected-seat {
  border: 4px outset white;
}

#booker,
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
}

form {
  margin: 20px 0px;
}

#Success {
  text-align: center;
  font-size: 20px;
  margin: 10px 0px;
  color: rgb(95, 92, 92);
  background-color: whitesmoke;
  border-radius: 6px;
}

#book-ticket-btn,
input[type="submit"] {
  max-width: fit-content;
  padding: 5px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(45, 94, 94);
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px;
}

.d-none {
  display: none;
}
.v-none {
  visibility: hidden;
  color: whitesmoke;
}

.book-btn {
  outline: none;
  border: none;
  width: 60%;
  height: 35px;
  border-radius: 8px;
  font-size: 16px;
  background-color: teal;
}
.book-btn:hover {
  background-color: green;
}

#confirm-purchase, #customer-detail-form {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: gray;
  border-radius: 8px;
  
}

/* .................footer................. */

a{
  text-decoration: none;
}

footer{
  background-color:rgba(3, 36, 63, .6);
  /* background-color: #272727; */
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  margin-top: auto;
}

footer li{
  list-style: none;
  margin: 10px;
  display: inline-block;
}

.icons a{
  
  background: #52527a;
  color: #272727;
  padding: 14px;
  font-size: 20px;
  border-radius: 100%;
  display: flex;
}
.icons a:hover{
  color: #ffffff;
  transition: 0.5s;
}

.menu a{
  color: #ffffff;
  text-transform: capitalize;
}
.menu a:hover{
  color: #52527a;
  transition: 0.5s;
}

.footer-copyright{
  background-color:rgb(5, 33, 55);
  /* background-color:#52527a; */
  color: #ffffff;
  padding: 15px;
  margin-top: 10px;
  text-transform: capitalize;
}

.footer-copyright p{
  margin-bottom: 0px;
}
